In [13]:
#Q1
"{*,-,/,+} these are expressions"
#values
print(type("hello"))
print(type(-87.8))
print(type(6))

<class 'str'>
<class 'float'>
<class 'int'>

In [17]:
...
#Q2
#String
"It is the value(s) inside the string which can be double inverted commas or single."
#Variable
"a variable is something which provides a data type to python. For instance: list, tuple, dictionary, string. It gives data to the computer processing."
...

Ellipsis

In [21]:
...
#Q3
#Data Types
#1) String: anything in betweed inverted commas " " OR ' ' is known as a string. String is able to hide other data types inside it and they will be known as string itself.
#eg: "53" is a string.
#2) List: it is a mutable data type, represents with square brackets [ ]. It contains a series of data any object of which can be changed.
#3) Tuple: it is an immutable type, represents with curly brackets ( ). It contains a series of objects any object of which can't be changed.
...

Ellipsis

In [23]:
...
#Q4
"an operation is made up of single units like symbols, keywords etc known as operatots. for example 2+3, here 2 and 3 arre operands and + is a symbol."
"all the expressions generate a value and give it in the form of an output."
...

Ellipsis

In [24]:
#Q5
"spam=10, this is a expression. An expression tells us the assingned value in something. Here in the ginen example we are assigning the value (integer) 10 in the worn span so whenever we give a command to print spam. It will print the assigned number which is 10."
"A statement is a command, used to give the instruction to the code for getting the required output."

spam=10
print(spam)

10

In [27]:
#Q6
bacon=22
bacon + 1
#bacon will add 1 to the previous value of it

23

In [31]:
#Q7
print('spam'+'spamspam')
print('spam'*3)
#adding two or more strings combines the added strings together.
#multiplying a string will give a string which will be a multiple values of the same string with a count of multiple number.

spamspamspam
spamspamspam

In [34]:
#Q8
"the word eggs can be used as a variable. It is a valid variable as it isn't either a number like 100 nor a reserved in-built function in python."

"the word eggs can be used as a variable. It is a valid variable as it isn't either a number like 100 nor a reserved in-built function in python."

In [35]:
#Q9
#for integer: int()
#for floating-point number: float()
#for string: str()

In [46]:
#Q10
'I have eaten '+99+' burritos.'
#this statement showing an error as we can't mix a string with an integer. For completing the line with no error all the elements must be o same function.
#hence here is a rectified ter.
'I have eaten '+str(99)+' burritos.'

TypeError: can only concatenate str (not "int") to str

In [49]:
print('I have eaten '+str(99)+' burritos.')

I have eaten 99 burritos.